/* CSS code will go here! */

/* You can create global color variables in css like this! */
:root {
    --primary: #222;
    --secondary: #888;
    --tertiary: #ddd;
}

/* use a css variable like below! */

body {
    background-color: var(--tertiary);
}

footer a{
  color: #000000;
  font-size: 12px;
}

footer h5{
  font-size: 16px;
}


/*Bootstrap Overrides*/
.card, .btn, .form-control { border-radius: 0; }

.navbar-dark .navbar-nav .nav-link {
  color: silver !important;
}

/* Product carousel css */

.scrolling-wrapper {
    margin: 2rem 4rem;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* .scrolling-wrapper::-webkit-scrollbar {
    display: none;
} */

.scrolling-wrapper .card {
    flex: 0 0 auto;
    width: 20rem;
    margin: 10px 1rem;
}

.navbar .navbar-expand-lg .navbar-light .bg-ligh {
  background: #808080;
}

.navbar-nav{
  display: flex;
  float: none;
  justify-content: space-around;
  width: 100%;
  margin: 0px;
}

.navbar-brand {
  display: none;
}

.nav-item {
  margin-top: 30px;
}

