/* CSS code will go here! */

/* You can create global color variables in css like this! */
:root {
    --primary: #222;
    --secondary: #888;
    --tertiary: #ddd;
}

/* use a css variable like below! */

/* General styling  */
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--tertiary);
    overflow-x: hidden;
}

.hero-image {
  background-image: url("../imgs/cover.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-md-6 {
  padding: 0;
}

.background {
  height: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-search {
  height: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#men {
  background-image: url("../imgs/man.jpg");
}

#men-search {
  background-image: url("../imgs/cover-mens.jpg");
}

#women {
  background-image: url("../imgs/women.jpg");
}

#accessories {
  background-image: url("../imgs/accessories.jpg");
  height: 45%;
}

#blog {
  background-image: url("../imgs/writing.jpg");
}

#contact {
  background-image: url("../imgs/road.jpg");
}

.col-text {
  text-align: center;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  color: white;
}

.shop-now {
  font-weight: bold;
  padding: 15px 60px;
}

footer a{
  color: #000000;
  font-size: 12px;
}

footer h5{
  font-size: 16px;
}


/*Bootstrap Overrides*/
.card, .btn, .form-control { border-radius: 0; }

.navbar-dark .navbar-nav .nav-link {
  color: silver !important;
}

.navbar-dark .navbar-nav .nav-link a {
    color: silver !important;
}

/* Product carousel css */

.search-container {
    margin: 2rem 4rem;
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

/* This would disable the horizontal scroll bar but maybe we need it for usability */
/* .scrolling-wrapper::-webkit-scrollbar {
    display: none;
} */

.scrolling-wrapper .card {
    flex: 0 0 auto;
    width: 20rem;
    margin: 0.5rem 0 3rem;
}

.navbar .navbar-expand-lg .navbar-light .bg-ligh {
  background: #808080;
}

.navbar-nav{
  display: flex;
  float: none;
  justify-content: space-around;
  width: 100%;
  margin: 0px;
}

.navbar-brand {
  display: none;
}

.nav-item {
  margin-top: 30px;
}


/* Product Page CSS */

.rating span {
    color:#ffd200;
    transition:all .3s ease 0s;
}

.add-to-cart .btn-qty {
    width: 52px;
    height: 46px;
  }




/* Social Media Buttons! */
.social a .fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}